__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/

.DS_Store

.vscode/settings.json
.vscode/*.code-workspace

logs/
*.log

outputs/
runs/
screenshots/

.ipynb_checkpoints/

.pytest_cache/
.coverage
htmlcov/

*.tmp
*.cache

.idea/

.env
.env.*

*.swp
*.swo

tests/*.mp4
tests/*.MOV

uploads/
datasets/
dataset/
Shelves.yolo26/
